[submodule "1-jsd-configuration/0-jsd-cmake"]
	path = 1-jsd-configuration/0-jsd-cmake
	url = git@github.com:jiteman/jsd-cmake-modules.git
	branch = main
[submodule "1-jsd-configuration/1-jsd-platform"]
	path = 1-jsd-configuration/1-jsd-platform
	url = git@github.com:jiteman/jsd-platform-support.git
	branch = main
[submodule "2-jsd-foreign/0-tpg-autotesting/0-tpc-googletestmock"]
	path = 2-jsd-foreign/0-tpg-autotesting/0-tpc-googletestmock
	url = git@github.com:jiteman/jsd-tpc-googletestmock.git
	branch = main
[submodule "2-jsd-foreign/0-tpg-autotesting/0-tpa-gtm"]
	path = 2-jsd-foreign/0-tpg-autotesting/0-tpa-gtm
	url = git@github.com:jiteman/jsd-tpa-gtm.git
	branch = main
[submodule "2-jsd-foreign/0-tpg-autotesting/1-tpc-cppunit"]
	path = 2-jsd-foreign/0-tpg-autotesting/1-tpc-cppunit
	url = git@github.com:jiteman/jsd-tpc-cppunit.git
	branch = main
